.header-md:after {
  left: 0;
  bottom: -1px;
  height: 1px;
}
.ion-thumbnail {
  background: var(--ion-color-secondary-tint);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80px;
  margin-top: 8px;
  height: 150px;
}
.icon-thumbnail {
  font-size: 75px;
  color: white;
}
.div1 {
  width: 200px;
  background: var(--ion-color-light-shade);
  height: 70px;
  margin-left: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.div2 {
  width: 200px;
  background: var(--ion-color-light-shade);
  height: 20px;
  margin-left: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.div3 {
  width: 200px;
  background: var(--ion-color-light-shade);
  height: 20px;
  margin-left: 18px;
  border-radius: 10px;
}
ion-card {
  border-radius: 10px;
}
.card_bottom_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  color: black;
  background: white;
}
ion-item {
  --inner-border-width: 0 0 0px 0;
}

.avatar_class1 {
  background: var(--ion-color-secondary-tint);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: white;
}
.icon_avatar1 {
  font-size: 40px;
  font-weight: bold;
}
.footer_center_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.footer_center_item_background {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px 0px 48px 0px;
  background: white;
  border-radius: 64px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.footer-md:before {
  background-image: none !important;
}