agm-map {
  height: 100%;
}
#map {
  height: 100%;
}
ion-item {
  --inner-border-width: 0 0 0px 0;
  --border-radius: 15px;
  margin-left: 10px;
}
ion-fab {
  bottom: 30px;
  ion-fab-button {
    width: 46px;
    height: 46px;
  }
}
