
.flex {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-text {
    color: rgb(0, 131, 143);
    font-size: 18px;
}
p {
    text-align: start;
    font-size: 18px;
    color: rgb(0, 131, 143);
}
ion-item {
    --inner-border-width: 0 0 0px 0;
}
ion-button {
    --border-radius: 15px;
    height: 44px;
}
