ion-button {
  width: 95%;
  height: 48px;
  letter-spacing: 1px;
  margin-top: 20px;
}
ion-text {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
ion-item {
  width: 100%;
  --inner-padding-end: 16px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
